@media screen and (max-width: 480px){}
@media screen and (max-width: 768px){
    /*Header*/
    .hFixa .centro .hNav .menu-desktop{
        display: none;
    }

    .hFixa .centro .hNav .menu-mobile{
        display: block;
    }
    /**/

    /*Seção 3*/
    .servicos .centro .introducao{
        text-align: center;
    }

    section.servicos .centro .container-estrutura{
        width: 85%;
    }

    .servicos .centro .container-institucional .atividades ul{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .servicos .centro .container-institucional .atividades ul .descricao-atv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 0;
    }
    /**/

    /*Seção 5*/
    section.contato .centro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.contato .centro .form-ctt{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5em 0 2em 0;
    }

    section.contato .centro .form-ctt .introducao{
        text-align: center;
    }

    section.contato .centro .outros-ctt{
        width: 100%;
        padding: 2em 0;
    }
    /**/
}

@media screen and (max-width: 1150px){
    /*Header*/

    /*Seção 2*/
    .container-descricao{flex-direction: column;}
    .container-descricao img{
        width: 70%;
    }
    .container-descricao p{
        border-top-right-radius: 0;
        border-bottom-left-radius: 2em;
        width: 65%;
        padding: 24px;
        font-size: 1.1em;
        margin-right: -24px;
    }
    /**/
}